header 	{width: 80%;}

main 	{
		width: 80%;
		}

section {
		width: 47%;
		}

.small {
		min-height: 23px;
		height: 23px;
		width: unset;
		}

.work .small {
		margin-top: 0;
		}

.category p strong {
		display: inline;
		}

footer {width: 80%;}