ul {list-style-type: none;}

a {text-decoration: none;
	color: #00002A;}

body 	{margin: 0;
		background:
		linear-gradient(#000015, 25%, #00002A);
		font-family: Verdana,
		sans-serif;}

html	{background-color: #00002A;}

header 	{
	    width: 90%;
	    margin: 0 auto;
	    padding-top: 25px;
		text-align: center;}

header a {display: block;
		color: white;
		padding-right: 60px;}

header button, #my-profile, #logout {
		display: inline-block;
		margin: 9px 7px 0 7px;
		background: none;
    	border: 2px solid white;
    	border-radius: 3px;
    	color: white;
    	font: bold 12px Verdana, sans-serif;
    	text-transform: uppercase;
    	padding: 5px;
    	width: 120px;
    	letter-spacing: 1.1px;
    	cursor: pointer;
    	text-align: center;}


#site-header {float: left;
		font-size: 36px;
		margin: 0 0 9px 0;
		font-weight: bold;}

#signinButton, .fb-login-button {
		display: inline-block;
		vertical-align: top;
		margin: 10px 0 0 0;
		}

.fb-login-button {
		margin-left: 0;}

.flash 	{color: white;
    	margin: 0;
    	text-align: center;
    	clear: both;}

.flash ul {margin: 0;
		padding: 15px 0 0 0;
		-webkit-animation: fadein 1s; 
       	-moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
        -o-animation: fadein 1s;
        animation: fadein 1s;}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

main 	{width: 90%;
		margin: 0 auto;}

section {
		width: 100%;
		margin: 25px 0 0;
		border-radius: 5px;
		padding: 25px 0;
    	background-color: white;
		}

section h1  {
		font-size: 24px;
		margin: 0 25px;
		color: #B98348;}

section ul {margin: 30px 0 0;
		padding-left: 50px;}

section li {margin-bottom: 12px;
    	font-size: 17px;
    	font-weight: bold;
    	color: #333;}

section li img {
		height: 50px;
	    border-radius: 50%;
	    position: relative;
	    top: 17px;
	    right: 10px;}

section button {
		background: none;
    	border: 2px solid;
    	border-radius: 3px;
    	font: bold 11px Verdana, sans-serif;
    	text-transform: uppercase;
    	padding: 3px 8px;
    	letter-spacing: 1.1px;
    	cursor: pointer;
    	min-height: 29px;}

.small {
		height: 45px;
		width: 45px;
		padding: 3px;}

.work .small {margin-top: 15px;}

.delete	{
		color: red;
		border-color: red;}

.edit	{
		color: blue;
		border-color: blue;}

.add	{
		color: green;
		border-color: green;}

.cancel	{
		color: #777;
		border-color: #777;}

.long	{min-width: 180px;}

#del_profile {
		margin: 8px 0 0 30px;}

.edit-contact {
		margin-top: 15px;}

input, textarea	{
		border: 2px solid #999;
	    border-radius: 5px;}

input 	{padding: 5px;
		min-width: 200px;}

input#duration {
		min-width: unset;
		width: 25px;}

textarea {
		width: 100%;
	    height: 200px;}

select {padding: 5px;
		min-width: 210px;}

#add_work {
		margin: 0 50px;}

.form-header {
		text-transform: uppercase;}

#add_work input, #add_work select {
		margin: 3px 0 8px;}

.plays, #instruments {font-weight: normal;
    	text-transform: uppercase;
    	font-size: 14px;}

section#instrument_list, section#musicians_list {
		clear: both;
		min-height: 250px;}

.musicians-by-instrument li {
		margin-left: 50px;}

.musicians-by-instrument, .userinfo, .repertoire {
		width: 100%;}

.musicians-by-instrument h1, .userinfo h1 {
		font-size: 34px;
		margin-left: 30px;}

.userinfo {
		position: relative;
		min-height: 250px;}

.userinfo img {
		border-radius: 50%;
	    height: 100px;
	    display: block;
	    margin: 15px auto 0;
		}

#instruments {
		font-size: 16px;
		margin: 5px 0 0 30px;
		color: #555;}

.contact, .bio {
		margin: 25px 30px;
    	}

.bio 	{width: unset;
		text-align: justify;}

.repertoire {
		margin: 25px 0 0 0;
		padding-bottom: 50px;}

h2 		{font-size: 22px;
		color: #555;
		margin: 0 0 15px;}

p 		{margin: 8px 0 0;
    	font-size: 16px;
    	line-height: 22px;}

.repertoire h2 {
		margin-left: 30px;}

.inst-block {
		margin: 0 30px;
		}

.category {
		background-color: #F2E7DC;
		display: block;
		padding: 15px;
		margin-top: 25px;
		border-radius: 3px;}

.category p strong {
		display: block;
		}

h3 		{color: #B98348;
		text-transform: uppercase;
		margin: 25px 0 0 30px;}

h4		{margin: 0 0 25px;
    	font-size: 18px;
    	color: #555;}

.duration {
		font-weight: bold;
		font-style: italic;
		color: #777;}


footer {width: 90%;
		padding: 25px 0;
    	clear: both;
    	margin: 0 auto;}

footer p {text-align: center;
		margin: 0;
		color: white;
		font-size: 14px;}