body {margin: 0;
		background:
		linear-gradient(#000015, 25%, #00002A);
		font-family: Verdana,
		sans-serif;}

header {height: 80px; 
		margin: 18px 25px 0 25px;}

header a {display: block;
		color: white;
		text-decoration: none;}

header button, #my-profile, #logout
		{float: right;
		margin-top: 7px;
		background: none;
    	border: 2px solid white;
    	border-radius: 3px;
    	color: white;
    	font: bold 12px Verdana, sans-serif;
    	text-transform: uppercase;
    	padding: 5px;
    	width: 120px;
    	letter-spacing: 1.1px;
    	cursor: pointer;}

#logout {text-align: center;}

#my-profile {margin-right: 25px; text-align: center;}

#site-header {float: left;
		font-size: 36px;
		margin: 0;
		font-weight: bold;}

#signinButton {float: right;
		margin-top: 4px;
		right: 0;}

.fb-login-button {float: right;
		margin: 6px 25px 0 0;
		height: 36px;}