<header>
<a id="site-header" href="/">Repertor &bull; io</a>
{% if 'username' not in login_session %}
<div id="signinButton">
          <span class="g-signin"
            data-longtitle="true"
            data-scope="openid email profile"
            data-theme="light"
            data-clientid="945722933121-lbkncbgj0sht96it5lnmhktbsns74l3s.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>

<script>


function signInCallback(authResult) {
  if (authResult['code']) {
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
         if (result) 
        	window.location.href = result;
        else 
      		alert('Login failed');
      }
      
  }); } }
</script>



	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '298184334231264',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.2'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result)
        	window.location.href = result;
        else
      		alert('Login failed');
      }
      
  });
    });
  }
</script>

<div class="fb-login-button" data-width="116" data-size="medium" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email" onlogin="sendTokenToServer();"></div>
		{% else %}
		<script type="text/javascript">
function Logout()
	{
	page = window.location;
	$.ajax({
      type: 'GET',
      url: '/disconnect',
      success: function(result) {
      window.location.href = page;}
		});	
	}
		</script>

          <a  href="javascript:void(0)" id="logout" type="button" onclick="Logout();">Logout</a>
          {% if  request.path != url_for('showProfile', musician_id=login_session['user_id']) %}
          <a id="my-profile" href="{{ url_for('showProfile', musician_id=login_session['user_id']) }}">My Profile</a>
          {% endif %}
{% endif %}
		
		<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

		</div>
	</header>