	<h1>Instruments</h1>
	<ul>
{% for r in result %}
			<li><span id="i_{{r[1]}}">
			{% if r[2] > 0 %}
			<a href="{{ url_for('showInstrument', instrument=r[1]) }}">{{r[0]}} ({{r[2]}})</a>
			{% else %}
			{{r[0]}} (0)
			{% endif %}
		{% if r[3] == login_session['user_id'] %}
			{% if r[2] <= 1 %}
				<button class="edit small" type="button" onclick="getForm('i_{{r[1]}}','{{ login_session['user_id'] }}')" title="Edit Instrument">&#128393;</button>
			{% endif %}
			{% if r[2] == 0 %}
				<button class="delete small" type="button" onclick="delInstrument('{{r[1]}}','{{ login_session['user_id'] }}')" title="Delete Instrument">X</button>
			{% endif %}
		{% endif %}
			</span></li>       
    {% endfor %}
    </ul>