{% extends "skeleton.html" %}
{% block content %}
{% include "header.html" %}
<main>
	<h1>{{ personal_data[0] }}</h1>
	<img src="{{ personal_data[1] }}">
	<section class="userinfo">
		<div class="bio">
			<h2>Biography</h2>
			<span id="bio">
			{% if not personal_data[2] and url != login_session['user_id'] %}
				<p>No biography provided yet..</p>
			{% elif not personal_data[2] and url == login_session['user_id'] %}
			<button type="submit" class="edit" onclick="getForm('bio', '{{ login_session['user_id'] }}');">Edit Bio</button>
			{% elif personal_data[2] %}
				{{ nl2br(personal_data[2])|safe }}
				{% if url == login_session['user_id'] %}
				<button type="submit" class="edit" onclick="getForm('bio', '{{ login_session['user_id'] }}');">Edit Bio</button>
				{% endif %}
			{% endif %}
			</span>
		</div>
		<div class="contact">
			<h2>Contact info</h2>
			{% if url == login_session['user_id'] %}
				<p><strong>Email:</strong> {{ personal_data[3] }} 
					{% if personal_data[4] == 0 %}
					<button id="email_privacy" onclick="editContent(this, 'email_privacy', '{{ login_session['user_id'] }}')">Set Public</button>
					{% else %}
					<button id="email_privacy" onclick="editContent(this, 'email_privacy', '{{ login_session['user_id'] }}')">Set Private</button>
					{% endif %}
				</p>
				<span id="contact">
				{% if not personal_data[5] %}
				<p><strong>Phone:</strong> -</p>
				{% else %}
				<p><strong>Phone:</strong> {{ personal_data[5] }}</p>
				{% endif %}
				{% if not personal_data[6] %}
				<p><strong>Address:</strong> -</p>
				{% else %}
				<p><strong>Address:</strong> {{ personal_data[6] }}</p>
				{% endif %}
				<button type="submit" class="edit" onclick="getForm('contact','{{ login_session['user_id'] }}');">Edit Contact Info</button>
				</span>
			{% endif %}
		</div>
	</section>



</main>
{% endblock %}