			{% if url == login_session['user_id'] %}
			<span id="add_work">
				<button class="add" onclick="getForm('add_work','{{ login_session['user_id'] }}');">+ Add Work to your Repertoire</button>
			</span>
			{% endif %}
				{% set i = 0 %}
				{% set instruments = [] %}
				{% set categories = [] %}
				{% for work in works %}
					{# Start with the instrument name (there may be more instruments) #}
					{% if work[4] not in instruments %}
						<h3>{{work[4]}}</h3>
						{% do instruments.append(work[4]) %}
					{% endif %}
					{# Start a new category #}
					{% if work[5] not in categories %}
						{# If this is not the first category, close the previous one first #}
						{% if i != 0 %}
							</div>
						{% endif %}
						{# Over the half of all works start a new column #}
						{% if i <= works|length/2 %}
							<div class="category">
						{% else %}
							<div class="category right">
						{% endif %}
						<h4>{{work[5]}}</h4>
						{% do categories.append(work[5]) %}
					{% endif %}
					{% if url == login_session['user_id'] %}
					<p class="work"><strong>{{work[1]}}:</strong> {{work[2]}} {{work[3]}}' <button type="button" onclick="editWork({{work[0]}})">&#128393;</button> <button type="button" onclick="delWork({{work[0]}})">&#215;</button></p> 
					{% else %}
					<p class="work"><strong>{{work[1]}}:</strong> {{work[2]}} {{work[3]}}'</p>
					{% endif %}
					{% set i = i + 1 %}
				{% endfor %}
				{# Close the last category #}
				</div>