			{% if url == login_session['user_id'] %}
			<span id="add_work">
				<button class="add" onclick="getForm('add_work','{{ login_session['user_id'] }}');">+ Add Work to your Repertoire</button>
			</span>
			{% endif %}
				{% set i = [] %}
				{% set instruments = [] %}
				{% set categories = [] %}
				{% for work in works %}
					{% if work[5] not in categories %}
						{# If this is not the first category, close the previous one first #}
						{% if i|length > 0 %}
							</div>
						{% endif %}
					{% endif %}
					{# Start with the instrument name (there may be more instruments) #}
					{% if work[4] not in instruments %}
						{# If this is not the first category, close the previous one
						and the previous instrument block first #}
						{% if i|length > 0 %}
							</div>
							</div>
						{% endif %}
						<h3>{{work[4]}}</h3>
						{% do instruments.append(work[4]) %}
						{% do categories.clear() %}
						<div class="inst-block">
					{% endif %}
					{# Start a new category #}
					{% if work[5] not in categories %}
							<div class="category">
						{% if url == login_session['user_id'] %}
						<h4><span id="c_{{work[6]}}">{{work[5]}} <button type="button" onclick="getForm('c_{{work[6]}}','{{ login_session['user_id'] }}')" title="Edit Category">&#128393;</button> <button type="button" onclick="delCat({{work[6]}},'{{ login_session['user_id'] }}')" title="Delete Category">&#215;</button></span></h4>
						{% else %}
						<h4>{{work[5]}}</h4>
						{% endif %}
						{% do categories.append(work[5]) %}
					{% endif %}
					{% if url == login_session['user_id'] %}
					<p class="work"><strong>{{work[1]}}:</strong> {{work[2]}} {{work[3]}}' <button type="button" onclick="workToEdit({{work[0]}},'{{ login_session['user_id'] }}')" title="Edit">&#128393;</button> <button type="button" onclick="delWork({{work[0]}},'{{ login_session['user_id'] }}')" title="Delete">&#215;</button></p> 
					{% else %}
					<p class="work"><strong>{{work[1]}}:</strong> {{work[2]}} <span class="duration">{{work[3]}}'</span></p>
					{% endif %}
					{% do i.append(1) %}
				{% endfor %}
				{# Close the last category and instrument block #}
				</div>
				</div>