<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel=stylesheet type=text/css href="/static/small.css">
  <link rel=stylesheet type=text/css  media="all and (min-width: 875px)" href="/static/medium.css">
  <link rel=stylesheet type=text/css  media="all and (min-width: 1390px)" href="/static/large.css">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>

  <script>
  {% if 'username' not in login_session %}
  function start() {
  gapi.load('auth2', function() {
    auth2 = gapi.auth2.init({
      client_id: '{{CLIENT_ID}}',
      scope: 'profile'
    });
  });
  gapi.signin2.render('signinButton', {
        'width': 200,
        'height': 28,
        'longtitle': true,
        'theme': 'light'
      });
  }
{% endif %}
  var page = window.location;

</script>
  {% if 'username' in login_session %}
  <script type="text/javascript" src="/static/js/editor.js"></script>
  {% endif %}
	<title>{{ title }}Repertor &bull; io | The musicians catalog</title>
</head>
<body>
{% block content %}
{% endblock %}
	<footer>
    <p>Created by Albert Nagy - 2019</p>
	</footer>
</body>
</html>
